<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{dojos}}
    <h1>New Ninja</h1>
    <form action="/create/ninjas" method="post">
        <div>
            dojo:
            <select name="dojo_id" id="">{% for dojo in dojos %}
                <option value="{{ dojo.id }}">{{dojo.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            first name:
            <input type="text" name="first_name" id="">
        </div>
        <div>
            last name:
            <input type="text" name="last_name" id="">
        </div>
        <div>
            age:
            <input type="text" name="age" id="">
        </div>
        <input type="submit" value="SUBMIT">
    </form>
</body>

</html>